<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="card card-primary">
          <div class="card-header">
            <h4>Login</h4>
          </div>
          <div class="card-body">
            <form #Form="ngForm" (ngSubmit)="onSubmit(Form)" novalidate>
              <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" [(ngModel)]="UserEmail" name="Email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #Email="ngModel"
                  [ngClass]="(!Email?.valid && (Email?.dirty || Email?.touched || Form.submitted))?'is-invalid':Email?.valid && Form.submitted?'is-valid':''"
                  required autocomplete="false">
                <div
                  *ngIf="!Email?.valid && (Email?.dirty || Email?.touched || Form.submitted) && Email.errors?.['required']"
                  class="invalid-feedback">
                  Email is required
                </div>
                <div
                  *ngIf="!Email?.valid && (Email?.dirty || Email?.touched || Form.submitted) && Email.errors?.['pattern']"
                  class="invalid-feedback">
                  Please enter correct Email
                </div>
              </div>
              <div class="form-group">
                <div class="d-block">
                  <label for="Password" class="control-label">Password</label>
                  <div class="float-right">
                    <a routerLink="/forgot-password" class="text-small">
                      Forgot Password?
                    </a>
                  </div>
                </div>
                <input type="password" [(ngModel)]="UserPassword" class="form-control" name="Password"
                  #Password="ngModel"
                  [ngClass]="(!Password?.valid && (Password?.dirty || Password?.touched || Form.submitted))?'is-invalid':Password?.valid && Form.submitted?'is-valid':''"
                  required autocomplete="false">
                <div
                  *ngIf="!Password?.valid && (Password?.dirty || Password?.touched || Form.submitted) && Password.errors?.['required']"
                  class="invalid-feedback">
                  Password is required
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                  <label class="custom-control-label" for="remember-me">Remember Me</label>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                  Login
                </button>
              </div>
            </form>
          
          </div>
        </div>
        <div class="mt-5 text-muted text-center">
          Don't have an account? <a routerLink="/register" [queryParams]="{UserType: UserType }">Create One</a>
        </div>
      </div>
    </div>
  </div>
</section>